@model IEnumerable<Projeto_KB.Models.UserViewModel>


@{
    ViewBag.Title = "Users List";
}

<h2 class="log" style="text-align:center">@ViewBag.Title</h2>



<table class="table table-responsive table-striped table-bordered table-hover">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.AccountName, "Details", new { ID = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
        </tr>
    }

</table>
<div class="registerFeature">
    <div style="text-align:center">
        <p>@Html.ActionLink("New Register", "Register", "Account", null, new { @class = "btn btn-info btn-xs" })</p>
    </div>
</div>


