@{
    ViewBag.Title = "Manage Roles User";
}


<h2 class="log" style="text-align:center">@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-6">

        <h4 class="questionSearch">Roles for User</h4>
        @using (Html.BeginForm("GetRoles", "User"))
        {
            @Html.AntiForgeryToken()
            <p>
                User: @Html.TextBox("UserName")
                <input type="submit" class="btn btn-xs" value="Get Roles" />
            </p>
        }
    </div>

    <div class="col-lg-6">
        @if (ViewBag.RolesForThisUser != null)
        {
            <h4 class="questionSearch">Roles for this user </h4>
            <div>
                <ul>
                    @foreach (string roleUser in ViewBag.RolesForThisUser)
                {
                        <li>@roleUser</li>
                    }
                </ul>
            </div>

        }
    </div>
</div>


<hr />
<div class="row">
    <div class="col-lg-6">

        <h4 class="questionSearch">Add Roles </h4>
        @using (Html.BeginForm("RoleAddToUser", "User"))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <p>
                User : @Html.TextBox("UserName")
                Role : @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
            </p>

            <input type="submit" class="btn btn-sm" value="Save" />

        }
    </div>
    <div class="col-lg-6">


        <h4 class="questionSearch">Delete from Role</h4>

        @using (Html.BeginForm("DeleteRoleForUser", "User"))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <p>
                User : @Html.TextBox("UserName")
                Role : @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

            </p>

            <input type="submit" class="btn btn-sm" value="Delete" />
        }
    </div>

</div>
















