@model Projeto_KB.Models.Faq

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  Customer Success</title>
    <script type="text/javascript" src="~/ckeditor/ckeditor.js"></script>
</head>
@{Layout = "~/Views/Shared/_ConceptsLayout.cshtml";}
@{
    ViewBag.Title = "Create";
}
<body>
    <div class="CreateConcept">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()<!--Data provide for our machine-->
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h3 class="new">New Faq</h3>
            <div class="form-inline">
                <div class="form-group form-group sm">
                    <span class="headers2">@Html.LabelFor(model => model.SubjectID, "Subject", htmlAttributes: new { @class = "control-label" })</span>
                    <div>
                        <div class="col-md-10">
                            @Html.DropDownList("SubjectID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group form-group sm">
                    <span class="headers2">
                        @Html.LabelFor(model => model.TopicID, "Topic", htmlAttributes: new { @class = "control-label" })
                    </span>
                    <div>
                        <div class="col-md-10">
                            @Html.DropDownList("TopicID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TopicID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <div class="form-horizontal">
                <div class="form-group form-group">
                    <span class="headers2">
                        @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })
                    </span>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group form-group">
                    <span class="headers2">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    </span>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "from-control", @cols = 100 } })
                        <!--para ficar com Box de inserção no modelo colocar MultiLine, retirar as colunas e colocar Css com classe apropriada-->
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group form-group">
                    <span class="headers2">
                        @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
                    </span>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Answer, new { @id = "editor1", @name = "editor1" })
                        <script type="text/javascript">
                            CKEDITOR.replace('editor1', {
                                filebrowserImageBrowseUrl: '/home/uploadPartial',
                                filebrowserImageUploadUrl: '/home/uploadnow'
                            });</script>
                        @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Insert" class="btn btn-info button-small" />
                </div>
            </div>
        }
    </div>
        <p>
            <div>
                <i class="fa fa-list"> @Html.ActionLink(" FAQs List", "Index")</i>
            </div>
        <p />
  
</body>