@model IEnumerable<Projeto_KB.Models.Faq>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Customer Success</title>
    <script type="text/javascript" src="http://localhost:61495/ckeditor/ckeditor.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
@{
    Layout = null;
}

@{
    var subj = Model.FirstOrDefault();} <!--First or defaul para não dar erro caso modelo não tenha nenhum valor-->
<div class="CategoryBody">              <!--Valor guardado na variavel para se poder fazer as pesquisas relacionadas com o subject -->    
    <div class="row">
        <div class="col-xs-6">
            <p>
                <a class="picture" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/Photo/logo-bullet-solutions.png" style="max-width:140px; margin-top:-7px" />
                </a>
            </p>
        </div>
        <div class="col-xs-6">
            <form class="create" method="get" action="@Url.Action("SearchFaq", "Faqs")">
                <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" placeholder="Search" name="searchFaqs" />
                </div>
            </form>
        </div>
    </div>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Faqs_Categories", "Categories", "Faqs")</li>
        <li class="active">@Html.DisplayFor(model => subj.Subject.Name)</li>
        <li class="active">Choose a Topic</li>
    </ol>
</div>
<div class="DescriptionBody">
    
    @foreach (var groupSub in Model.GroupBy(item => item.Subject))
    {
        <h3>@Html.Encode(groupSub.Key.Name) <small>Frequently Asked Questions</small></h3>

            <div class="container-fluid thumbnail">
                <div class="row">
                    @foreach (var groupTop in groupSub.GroupBy(item => item.Topic))
                {
                        <div class="col-sm-6">

                            <h4>@Html.Encode(groupTop.Key.Name)</h4>

                            @foreach (var item in groupTop)
                    {
                                <ul class="listCat">

                                    <li><span>@Html.ActionLink(item.Question, "Details", new { id = item.ID })</span></li>

                                </ul>

                            }
                            <p><small>@Html.ActionLink("See all Articles", "DescriptionAll", new { idTopic = groupTop.Key.ID, idSubject = subj.SubjectID })</small></p>

                        </div>

                    }
                </div>
            </div>
    }
</div>
<footer class="footerFAQ">
    <!--@Html.ActionLink("About", "About", "Home") @Html.ActionLink("Contact", "Contact", "Home")-->
    <p align="center">&copy; @DateTime.Now.Year - Powered by Bullet Solutions</p>
</footer>