@model IEnumerable<Projeto_KB.Models.Faq>

@{
    ViewBag.Title = "Description";
}
<link href="~/Content/StyleDescription.css" rel="stylesheet" />
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Categories", "Categories", "Faqs")</li>
    <li class="active">Description</li>
</ol>

@foreach (var groupSub in Model.GroupBy(item => item.Subject)){
            
       <h2>@Html.Encode(groupSub.Key.Name)</h2>

    <ul>
        @foreach (var groupTop in groupSub.GroupBy(item => item.Topic))
        {

                 <li>@Html.Encode(groupTop.Key.Name)</li>

            <ul>
                @foreach (var item in groupSub)
                {
                    <li>@Html.Encode(item.Description)</li>
                    <li>@Html.Encode(item.Answer)</li>

                }
            </ul>

        }
    </ul>
}