@model Projeto_KB.Models.Faq

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/StyleDescription.css" rel="stylesheet" />

<ol class="breadcrumb details">
    <li>@Html.ActionLink("Faqs_Categories", "Categories", "Faqs")</li>
    <li>@Html.ActionLink(Html.DisplayFor(model => model.Subject.Name).ToString(), "Description", new { ID = Model.SubjectID })</li>
    <li class="active">@Html.DisplayFor(model => model.Topic.Name)</li>
    <li class="active">@Html.DisplayFor(model => model.Question)</li>
</ol>

<h2 class="details">@Html.DisplayFor(model => model.Question)</h2>


<div class="container-fluid thumbnail">

    <a href="#demo" data-toggle="collapse">See Problem Description</a>

    <div id="demo" class="collapse">
        @Html.Raw(Model.Description)
    </div>

    <dl class="dl-vertical">


        <dt class="first">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>
    </dl>
</div>
