@model Projeto_KB.Models.Faq
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Customer Success</title>
    <script type="text/javascript" src="http://localhost:61495/ckeditor/ckeditor.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
@{
    Layout = null;
}
<div class="CategoryBody">
    <div class="row">
        <div class="col-xs-6">
            <p>
                <a class="picture" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/Photo/logo-bullet-solutions.png" style="max-width:140px; margin-top:-7px" />
                </a>
            </p>
        </div>
        <div class="col-xs-6">
            <form class="create" method="get" action="@Url.Action("SearchFaq", "Faqs")">
                <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" placeholder="Search" name="searchFaqs" />
                </div>
            </form>
        </div>
    </div>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Faqs_Categories", "Categories", "Faqs")</li>
        <li>@Html.ActionLink(Html.DisplayFor(model => model.Subject.Name).ToString(), "Description", new { ID = Model.SubjectID })</li>
        <li class="active">@Html.DisplayFor(model => model.Topic.Name)</li>
        <li class="active">@Html.DisplayFor(model => model.Question)</li>
    </ol>
    <h3 class="details">@Html.DisplayFor(model => model.Question)</h3>
    <div class="container-fluid thumbnail">

        <a href="#demo" data-toggle="collapse">See Problem Description</a>

        <div id="demo" class="collapse">
            @Html.Raw(Model.Description)
        </div>

        <dl class="dl-vertical">

            <dt class="first">
                @Html.DisplayNameFor(model => model.Answer)
            </dt>

            <dd>
                @Html.Raw(Model.Answer)
            </dd>
        </dl>
    </div>
</div>
