@model IEnumerable<Projeto_KB.Models.Faq>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  Customer Success</title>
    <script type="text/javascript" src="http://localhost:61495/ckeditor/ckeditor.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
@{
    ViewBag.Title = "Faq Repository";
}

@{ Layout = null;}

<div class="CategoryBody">
    <div class="row">
        <div class="col-xs-6">
            <p>
                <a class="picture" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/Photo/logo-bullet-solutions.png" style="max-width:140px; margin-top:-7px" />
                </a>
            </p>
        </div>
        <div class="col-xs-6">
            <form class="create" method="get" action="@Url.Action("SearchFaq", "Faqs")">
                <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" placeholder="Search" name="searchFaqs" />
                </div>
            </form>
        </div>
    </div>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Faqs_Categories", "Categories", "Faqs")</li>
        <li class="active">Search Results</li>
    </ol>
</div>
@if (@Model.Count() == 1)
{

    <p class="search"> @Model.Count() RESULT FOR <span style="color:darkcyan;"><i>"@ViewBag.dataSearch"</i></span></p>

}
else if (@Model.Count() == 0)

{
    <p class="search">NO RESULTS FOR <span style="color:darkcyan;"><i>"@ViewBag.dataSearch"</i></span></p>
}
else
{
    <p class="search">@Model.Count() RESULTS FOR <span style="color:darkcyan;"><i>@ViewBag.dataSearch</i></span></p>

}


<div class="DescriptionBody">
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="container-fluid thumbnail">
                <div class="col-sm-6">
                    <h4 class="questionSearch">@item.Question</h4>
                    <h5>@Html.Raw(item.Answer)</h5>
                    <div class="onSearchFaq">
                        <ol class="breadcrumb">
                            <li class="onSearchFaq">@Html.ActionLink(Html.DisplayFor(model => item.Subject.Name).ToString(), "Description", new { ID = item.SubjectID })</li>
                            <li>@Html.ActionLink(Html.DisplayFor(model => item.Topic.Name).ToString(), "DescriptionAll", new { idTopic = item.TopicID, idSubject = item.SubjectID })</li>
                        </ol>
                    </div>

                </div>
            </div>

            <hr />

        }
    </div>

</div>