@model Projeto_KB.Models.TopicConcept

@{
    ViewBag.Title = "Create";
}

@{Layout = "~/Views/Shared/_ConceptsLayout.cshtml";}
<body>
    <div class="CreateConcept">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h3 class="new">Novo Tópico Best</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Inserir" class="btn btn-info button-small" />
                    </div>
                </div>
            </div>

        }
    </div>
    <p>
        <div>
            <i class="fa fa-list"> @Html.ActionLink("  Lista de Tópicos BEST", "Index")</i>
        </div>
    <p />
</body>
