@model IEnumerable<Projeto_KB.Models.TopicConcept>

@{Layout = "~/Views/Shared/_ConceptsLayout.cshtml";}

@{ViewBag.Title = "Lista de Tópicos BEST";}

<div class="SubjectBody">
    <h2 class="title" style="text-align:center">@ViewBag.Title</h2>
    <table class="table table-responsive table-striped table-bordered table-hove">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="text-align:right">
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
    <div class="registerFeature">
        <div style="text-align:center">
            <p>@Html.ActionLink("Inserir", "Create", "TopicConcepts", null, new { @class = "btn btn-info button-small" })</p>
        </div>
    </div>

</div>
