
@model IEnumerable<Projeto_KB.Models.Concept>
<!--Partial view to render concepts Accordion-->
<head>
    <meta charset="utf-8" />
</head>
@{int i = 0;}
@{int a = 0;}
@foreach (var groupPhase in Model.GroupBy(p => p.Phase).OrderBy(p => p.Key.Order))
{
    int phaseConcepts = groupPhase.Count();

    if (phaseConcepts == 1)
    {
        int phaseConceptId = groupPhase.FirstOrDefault().ID; //only to receive ID de Concept
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="@groupPhase.Key.Name">
            <a class="nav-link" style="margin-top:-20px" href="@Url.Action("Details", "Concepts", new { id = phaseConceptId})">
                <i class="fa fa-circle-o" style="font-size:10px"></i>
                <span class="nav-link-text">
                    @groupPhase.Key.Name
                </span>
            </a>
        </li>
    }
    else
    {
        var phaseId = groupPhase.FirstOrDefault().ID;
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="@groupPhase.Key.Name">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#collapseMulti_@i" style="margin-top:-20px">
                <i class="fa fa-circle-o" style="font-size:10px"></i>
                <span onclick="window.location = '@Url.Action("Details", "Concepts", new { id = phaseId})';" class="nav-link-text">
                    @groupPhase.Key.Name
                </span>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseMulti_@i">


                @foreach (var topicGroup in groupPhase.GroupBy(t => t.TopicConcept))
                {
                    int topicConcepts = topicGroup.Count();
                    var topic = topicGroup.FirstOrDefault();
                    if (topicConcepts == 1 && topic.TopicConcept != null)
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("Details", "Concepts", new { id = topic.ID})" style="margin-top:-20px">@Html.Encode(topicGroup.Key.Name)</a>
                        </li>
                    }

                    else if (topicConcepts > 1)
                    {
                        
                        <li>
                            <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2_@a" style="margin-top:-20px">
                                <span onclick = "window.location = '@Url.Action("Details", "Concepts", new { id = topic.ID})';">
                                    @Html.Encode(topicGroup.Key.Name)
                                </span></a>

                            @foreach (var item in topicGroup.OrderBy(t=>t.Order))
                            {
                                if (item.Title != null)
                                {
                                <ul class="sidenav-third-level collapse" id="collapseMulti2_@a">  
                                    <li>
                                        <a href="#" style="margin-top:-50px">@Html.ActionLink(item.Title, "Details", new { id = item.ID })</a>
                                    </li>
                                </ul>
                                }
                            }
                        </li>

                    }
                    a++;
                

                }
            </ul>
        </li>


    }
    i++;
}



