@model IEnumerable<Projeto_KB.Models.Concept>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{Layout = "~/Views/Shared/_ConceptsLayout.cshtml";}
</head>

@{ViewBag.Title = "BEST Concepts List";}

@helper Truncate(string input, int lenght)
{
if (input == null || input.Length <= lenght)
{
        @input
}
else
{
        @input.Substring(0, lenght)<text>...</text>
}
}
<div class="ConceptBody">
    <h2 class="log" style="text-align:center">@ViewBag.Title</h2>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-file-text-o"></i>
            @Html.ActionLink("New Concept", "Create", "Concepts")
        </div>
        <div class="card-body">
            <div class="table responsive">
                <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Journey.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Subject.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Topic.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Title)</th>
                            <th>@Html.DisplayNameFor(model => model.Text)</th>
                            <th>Manage Concept</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Journey.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Subject.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Topic.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Title)</th>
                            <th>@Html.DisplayNameFor(model => model.Text)</th>
                            <th>Manage Concept</th>

                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Truncate(item.Journey.Name, 25)</td>
                                <td>@Html.DisplayFor(modelItem => item.Subject.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Topic.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Truncate(item.Text, 25)</td>
                                <td>@Html.ActionLink("View", "Details", new { id = item.ID }) |
                                 @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">
            BEST Concepts
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="~/Content/TemplateAdmin/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/TemplateAdmin/vendor/popper/popper.min.js"></script>
<script src="~/Content/TemplateAdmin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="~/Content/TemplateAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/Content/TemplateAdmin/vendor/chart.js/Chart.min.js"></script>
<script src="~/Content/TemplateAdmin/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/Content/TemplateAdmin/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for this template -->
<script src="~/Content/TemplateAdmin/js/sb-admin.min.js"></script>
