<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  Customer Success</title>
    @Styles.Render("~/Content/TemplateAdmin")  <!--Template View in BundleConfig-->

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/Photo/logo-bullet-solutions-inv@2x.png" style="max-width:61px; margin-left: 50px;"></a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: #ecd553" href="@Url.Action("Index", "Faqs")">
                        FAQs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #ecd553" href="@Url.Action("Index", "Concepts", new { Id = 2 })">
                        BEST
                    </a>
                </li>
                @if (User.IsInRole("Admin")) { 
                <li class="nav-item">
                    <a class="nav-link" style="color: #ecd553" href="@Url.Action("Index", "User")">
                        ADMIN
                    </a>
                </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer class="footerFAQ ">
            <!--@Html.ActionLink("About", "About", "Home") @Html.ActionLink("Contact", "Contact", "Home")-->
            <p align="center">&copy; @DateTime.Now.Year - Powered by Bullet Solutions</p>
        </footer>
    </div>

</body>
</html>
