@using Projeto_KB.Models
@model LoginViewModel
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Customer Success</title>
    <script type="text/javascript" src="http://localhost:61495/ckeditor/ckeditor.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
@{ Layout = null;} <!--Ter em atenção ao retirar a parte relativa a Shared Layout o Container irá desaparecer Container-->


@{
    ViewBag.Title = "LOG IN";
}
<div class="container">
    <!--no reference Shared Layout -->
    <div class="row">
        <a href="@Url.Action("Index", "Home")">
            <img class="displayed" src="~/Content/Photo/logo-bullet-solutions.png" />
        </a>
    </div>
    <h2 class="log" style="text-align:center">@ViewBag.Title</h2>
    <div class="row">
        <div class="col-xs-12">
            <section id="loginForm" align="center">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 class="questionSearch">Use Your Customer Success Account to Log In</h4>
                    <hr class="login" width="50%">
                    <div align="center">
                        @Html.ValidationSummary(true, "Invalid Password", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-push-4">
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "E-Mail", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-push-4">
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Password ", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-md-push-4">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Log In" class="btn btn-info btn-sm" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
        @* <div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}