@model IEnumerable<Projeto_KB.Models.Phase>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{Layout = "~/Views/Shared/_ConceptsLayout.cshtml";}
</head>

@{ViewBag.Title = "Lista Etapas de Implementação";}

<div class="ConceptBody">
    <h2 class="log" style="text-align:center">@ViewBag.Title</h2>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-file-text-o"></i>
            @Html.ActionLink("New Phase", "Create", "Phases", new { @class="colorLink"})
        </div>
        <div class="card-body">
            <div class="table responsive">
                <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Order)</th>
                            <th>Manage Phase</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Order)</th>
                            <th>Manage Concept</th>

                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Order)
                                </td>
                                <td style="color:#b6ff00">
                                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class="colorLink"}) |
                                    @Html.ActionLink("Apagar", "Delete", new { id = item.ID }, new { @class = "colorLink" })
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">
            BEST Phases
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="~/Content/TemplateAdmin/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/TemplateAdmin/vendor/popper/popper.min.js"></script>
<script src="~/Content/TemplateAdmin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="~/Content/TemplateAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/Content/TemplateAdmin/vendor/chart.js/Chart.min.js"></script>
<script src="~/Content/TemplateAdmin/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/Content/TemplateAdmin/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for this template -->
<script src="~/Content/TemplateAdmin/js/sb-admin.min.js"></script>